@keyframes rotate {
    25%{
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circ {
   to{
       transform: rotate(360deg);
   }
}

.loader{
    position: absolute;
    width: 40px;
    height: 40px;
    border-collapse: collapse;
    border-top: 10px dashed #626461;
    border-right: 10px dotted #97866e;
    border-bottom: 10px solid #5f3a35;
    border-left: 10px double #303d4f;
    border-top-left-radius: 50%;
    border-top-right-radius:  50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius:  50%;
    animation: rotate 4s linear infinite;
}

.circle{
    position: absolute;
    top: 3px;
    left: 3px;
    transform-origin: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-top: 10px solid #62646100;
    border-right: 10px solid #97866e;
    border-bottom: 10px solid #5f3a3500;
    border-left: 10px solid #303d4f;
    animation: circ 1s linear infinite;
}
